body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0D0D0D;
}

.project-card {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  gap: 0.5rem;
}

.project-tags-container {
  display: flex;
  gap: 0.5rem;
}

.project-tags-container > .project-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0.1rem 1rem;
  font-weight: 500;
  font-size: 16px;
}

.project-tags-container > .project-tag {
  background-color: #E7FD2C;
  color: #0D0D0D;
}

.project-tags-container > .project-tag:nth-child(2n+2) {
  background-color: #2CFFCC;
  color: #0D0D0D;
}

.project-image-container {
  height: 40vh;
  width: 40vw;
  background-color: #FFFFFF;
  border-radius: 1rem;
}

.project-cards-container {
  display: flex;
  width: 40vw;
  gap: 1rem;
  overflow-x: scroll;
}
